* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  display: grid;
  height: 100dvh;
  background-color: #dddddd;
  background-color: #eeeeee;
}
.body {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  display: grid;
  min-width: 320px;
  max-width: 1280px;
}
.main {
  width: 100%;
  display: grid;
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
  background-color: #e0ebfa;
  grid-template-rows: 60px minmax(400px, 1fr) 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

header {
  color: #444444;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 1px;
}
header .row {
  display: flex;
  align-items: center;
  padding: 10px;
}
header .row img {
  min-width: 100px;
  max-width: 120px;
}
.home {
  padding: 0 5%;
  background-size: cover;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-image: url("https://judadeveloper.github.io/registration/banner.png");
}
.card {
  display: grid;
  padding: 7% 5%;
  margin: 0 auto;
  max-width: 580px;
}
.card h2 {
  padding-bottom: 10px;
}
.card h5 {
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 10px;
}
.card button {
  margin: 0 auto;
  margin: 8px auto;
  max-width: 500px;
}
.card button {
  width: 100%;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #0099ff;
}

.card button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 800px) {
  .forms {
    padding: 1% 3%;
  }
}

.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  margin: auto;
  min-width: 320px;
  max-width: 1280px;
  position: absolute;
  border-radius: 6px;
  display: none;
  overflow-y: auto;
}
.forms {
  border-radius: 6px;
  background-color: #00000096;
}
.heada {
  width: 100%;
  height: fit-content;
  display: inline-flex;
  padding: 3px 3px 5px 10px;
  background-color: #ffffff;
  justify-content: space-between;
  border-radius: 6px 6px 0px 0px;
  border-bottom: 1px solid #c5daeb;
}
.heada img {
  width: 60px;
}
.heada input {
  width: 60px;
  background-color: #eeeeee;
}
.heada svg {
  width: 23px;
  height: 23px;
  fill: #bdbdbd;
  border-radius: 100%;
}
.profileform {
  width: 100%;
  display: grid;
  margin: 0px auto;
  max-width: 540px;
  border-radius: 6px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #54c0ff;
  background-color: #ffffff;
  background-repeat: no-repeat;
  grid-template-rows: 35px;
  background-image: url("https://judadeveloper.github.io/registration/banner.png");
  display: block;
}
.profileform form {
  width: 100%;
  display: grid;
  margin: 0 auto;
  border-radius: 0 0 6px 6px;
  grid-template-rows: 220px minmax(400px, 1fr) ;
}

.imagex {
  display: grid;
  min-height: 210px;
}
.imagex h3 {
  margin: 0 auto;
  font-weight: 500;
  color: #353535fa;
  padding: 10px;
  align-content: end;
}

.inputs h6 {
  width: 100%;
  margin-top: 10px;
  min-width: 100px;
  font-weight: 700;
  color: #414141;
  padding-left: 3px;
  font-size: 0.68rem;
}

.inputs section {
  width: 100%;
  display: none;
}
.inputs section.shown {
  display: block;
}

.inputs {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0 5px;
  min-width: 280px;
  max-width: 340px;
  padding-bottom: 10px;
}

.lb {
  padding: 0;
  width: 100%;
  display: grid;
  column-gap: 2px;
  margin: 0px auto;
  margin-top: 8px;
  border-radius: 5px;
  position: relative;
  background-color: #00000000;
  grid-template-columns: 40px 1fr;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.lb:has(.drod:nth-child(3)) {
  grid-template-columns: 40px 1fr 1fr;
}

.lb * {
  color: #5c5c5c;
  font-size: 1rem;
}

.content {
  width: 100%;
  height: 48px;
  display: grid;
  column-gap: 5%;
  padding: 5px 5px;
  position: relative;
  background-color: #f9fcff;
  border: 1px solid #f9fcff;
  border-radius: 0px 4px 4px 0px;
}

.drod {
  width: 100%;
  height: 48px;
  display: grid;
  position: relative;
  background-color: #f6faff;
  border: 1px solid #f6faff;
}
.lb .drod:nth-child(2) {
  border-radius: 0px;
}
.lb .drod:nth-child(3) {
  border-radius: 0 4px 4px 0;
}

.drod:hover {
  color: #008cff;
  border-radius: 4px;
  border: 1px solid #95c3ff;
  background-color: #fbfdff;
}

.lb-icon {
  fill: none;
  width: 40px;
  height: 100%;
  padding: 9px;
  stroke-width: 1;
  stroke:#6e6e6e;
  border-radius: 4px 0 0 4px;
  background-color: #f2f7ff;
}

.drod .nput {
  width: 100%;
  height: 100%;
  font-size: 13px;
  color: #d3d3d3;
  border-radius: 4px;
  padding: 15px 15px 0 15px;
  background-color: #ffffff00;
}

.drod .batn {
  right: 0;
  fill: none;
  width: 20px;
  height: 38px;
  padding: 2px;
  stroke: #969696;
  position: absolute;
  stroke-width: 1.2;
  align-self: center;
}

.drod .batn:hover {
  stroke: #0084ff;
  stroke-width: 1.5;
  transform: scale(100%);
  background-color: #f1f5f8;
}

.drodwnlist {
  top: 105%;
  right: 0px;
  width: 100%;
  display: none;
  padding: 0 2px;
  z-index: 999999;
  overflow-y: auto;
  min-width: 150px;
  max-height: 220px;
  border-radius: 4px;
  position: absolute;
  transform-origin: top center;
  background-color: #ffffff;
  animation: growdown 200ms ease-in-out forwards;
  box-shadow: 0 26px 58px 0 #00000038, 0 5px 14px 0 #0000002e;
}

.drodwnlist ul {
  display: block;
  min-height: 0px;
  border-radius: 4px;
  list-style-type: none;
}

.drodwnlist ul li {
  min-height: 35px;
  height: fit-content;
  cursor: pointer;
  padding-left: 20px;
  align-content: center;
  border-bottom: 1px solid #f0f0f0;
}

.drodwnlist li p {
  pointer-events: none;
  color: #3f3f3f;
  font-size: 0.9em;
}
.drodwnlist li:last-of-type {
  border-bottom: none;
}

.drodwnlist li:active {
  background-color: #e0e0e0;
  color: #008cff;
  font-weight: 600;
}

.drodwnlist li:hover,
.drodwnlist li:focus {
  color: #ffffff;
  font-weight: 600;
  background-color: #008cff;
  box-shadow: inset 0 0 0 1px #008cff;
  transition: all 0.2s ease-in-out;
}
.drodwnlist li:hover p {
  color: #ffffff;
}


.dob,
.cbox {
  padding-left: 20px;
  position: relative;
}
.cbox {
  grid-template-columns: minmax(25px, 30%) 1fr;
}
.cbox:has(#w_status) {
  grid-template-columns: minmax(25px, 38%) 1fr;
}

.cbox #w_status {
  color: #fbfdff;
  z-index: 2998;
  width: 30px;
  height: 20px;
  font-size: 10px;
  position: absolute;
}
.dob {
  grid-template-columns: minmax(25px, 22%) minmax(25px, 22%) minmax(25px, 22%);
}

/*input 
--------*/
.nput {
  height: 100%;
  color: #000000;
  font-size: 0.8rem;
  border-radius: 4px;
  font-family:  sans-serif;
  padding: 15px 5px 4px 20px;
  background-color: transparent;
}



/*input Placeholder
------------------*/
.pod {
  left: 8%;
  position: absolute;
  font-size: 0.8rem;
  color: #727272;
  pointer-events: none;
  transform-origin: 0 0;
  transition: all 0.2s ease;
  transform: translate3d(0, 0, 0);
}

.txt .pod,
.drod .pod {
  top: 30%;
}
.dob .pod,
.cbox .pod {
  top: 0px;
  font-size: 0.7rem;
}
.dob .pod {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.dob .pod span {
  font-size: 0.7rem;
}
.dob .pod small {
  height: 15px;
  padding: 0 3px;
  color: #076aff;
  text-align: center;
  font-weight: 400;
  border-radius: 20px;
  font-size: 0.65rem;
  width: max-content;
}
.txt:has(textarea) {
  min-height: 60px;
}
.txt textarea {
  padding: 25px 0px 0px 3px;
}
.cbox .cx {
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 0.9rem;
  padding: 15px 0px 3px 2px;
}
.cbox input[type="checkbox"] {
  width: 13px;
  height: 13px;
  cursor: pointer;
  margin-right: 10px;
}

.dob .dt {
  height: 22px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 0.75rem;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.dob input[type="date"] {
  width: 24px;
  color: #85858500;
  padding: 0;
  height: fit-content;
  font-size: 25px;
  cursor: pointer;
  opacity: 0;
}
.dob label svg {
  top: 8px;
  left: 8px;
  width: 13px;
  position: absolute;
  pointer-events: none;
}
.dob label {
  top: 16px;
  right: 5px;
  padding: 3px;
  position: absolute;
}

.imgbox {
  padding: 8px;
  display: grid;
  margin: 0px auto;
  max-width: fit-content;
  position: relative;
  height: fit-content;
  border-radius: 5px;
}
.imgbox .content {
  padding: 0px;
  display: grid;
  cursor: pointer;
  margin: 0px auto;
  position: relative;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  justify-items: center;
  background-color: #ffffff;
  border: 1px solid #ffffff00;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.imgbox:has(img[src="#"]) .content {
  min-width: 140px;
  min-height: 150px;
}
.imgbox .nput[type="file"] {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
.imgbox img {
  width: 100%;
  height: 100%;
  max-width: 140px;
  max-height: 150px;
  border-radius: 4px;
}
.imgbox img[src="#"] {
  width: 60px;
  height: 60px;
  margin: auto;
  min-width: 40px;
  min-height: 40px;
  border-radius: 100%;
  background-color: #0e9efd;
  content: url("https://judadeveloper.github.io/registration/photo.svg");
}

.docs {
  width: 100%;
  display: grid;
  row-gap: 10px;
  column-gap: 18%;
  font-size: 10px;
  border-radius: 3px;
  align-items: start;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}
.docs small {
  font-size: 0.7rem;
  text-align: center;
}
.docs .imgbox {
  padding: 5px;
}
.docs:has(img[src="#"]) .content {
  min-width: 120px;
  min-height: 130px;
  background-color: #ffffff;
}
.docs img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.docs img[src="#"] {
  width: 40px;
  height: 40px;
  border-radius: 0;
  background-color: #ffffff00;
  content: url("https://judadeveloper.github.io/registration/add-image.png");
}

/* Inputs Hovered
*/
.lb .content:hover {
  color: #008cff;
  border-radius: 4px;
  border: 1px solid #95c3ff;
  background-color: #fbfdff;
}
.content:hover .pod {
  color: #008cff;
}
.lb:hover .lb-icon {
  stroke: #008cff;
} 
.dt:hover  { color: #008cff; }
.imgbox .content:hover,
.imgbox .content:focus {
  scale: 98%;
  background-color: #f1f8ff;
  border: 1px solid #14a1ff;
}
/*_______________________
*/


/* Input Focused
*/
.lb .content:focus-within  {
  border-radius: 4px;
  border: 1px solid #008cff;
  background-color: #ffffff;
}
.lb:focus-within .lb-icon {
  stroke: #eeeeee00;
  padding: 6px;
  fill: #ffffff;
  background-color: #008cff;
}
.content:not(.cbox):not(.dob):focus-within .pod {
  color: #008cff;
  transform: translate3d(0, -80%, 0) scale(0.80);
}
/*_______________________
*/

/*Input Not Empty*/
.dt.ok:not(:focus-within),
.cx:has(input[type="checkbox"]:checked),
.nput:not(:placeholder-shown):not(:focus-within) {
  color: #000000;
  font-weight: 500;
}
.lb.valid:not(:focus-within) {
  background-color: #0099ff;
}

.lb.valid:not(:focus-within) .lb-icon {
  fill: #008cff;
  stroke: #ffffff;
  background-color: #c9e5ff;
}

.imgbox:has(img:not([src="#"])) {
  background-color: #75bcff;
}
.content:not(.cbox):not(.dob):has(.nput:not(:placeholder-shown))  .pod  {
  transform: translate3d(0, -80%, 0) scale(0.80);
}

/*Invalid Input
---------------*/
.lb:has(.nput.invalid):not(:focus-within) {
  background-color: #f57676;
}
.lb:has(.nput.invalid):not(:focus-within) .cx {
  color: #f57676;
}
.lb:has(:not(:focus-within).nput.invalid) .dt:not(.ok) {
  color: #f57676;
}
.lb:has(.nput.invalid):not(:focus-within):has(.content:not(.dob)):has(.content:not(.cbox)) .pod {
  color: #f86464;
}


.imgbox:has(.nput#imgi.invalid)  .content {
  border: 1px solid #ff686885;
}
.imgbox:has(.nput#imgi.invalid)  img {
  background-color: #ff9f9f;
}
.docs .imgbox:has(.nput.invalid) .content {
  border: 1px solid #ff686885;
}



/*SUBMIT FORM*/

.submtform {
  width: 100%;
  height: 60px;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: #dbe7f1;
  border-top: 1px solid #2b7fc4;
}

.submtform section {
  width: 100%;
  padding: 2px;
  display: flex;
  column-gap: 38%;
  margin: 0px auto;
  min-width: 320px;
}

.sbmt {
  height: 45px;
  display: grid;
  cursor: pointer;
  font-weight: 400;
  border-radius: 3px;
  align-content: center;
}

.sbmt:first-of-type {
  opacity: 0;
  width: 90px;
  pointer-events: none;
  background-color: #ffffff;
}
.sbmt:first-of-type.shown {
  opacity: 1;
  pointer-events: visible;
}
.sbmt:first-of-type:hover {
  color: #ff9898;
  background-color: #fff7f7ec;
}

.sbmt:last-of-type {
  width: 130px;
  color: #ffffff;
  font-weight: 600;
  background-color: #23a7ff;
}

.sbmt:last-of-type:hover {
  font-weight: 700;
  background-color: #008cff;
}

.submtform:has(.sbmt.invalid) .sbmt.invalid {
  color: #ff1414;
  background-color: #ffececa4;
  border: 1px solid #ff1414;
}


.profileform.submit .sbmt:last-of-type:disabled {
  opacity: 0.75;
  cursor: wait;
  background-color: #0095f8;
}



.preloda {
  right: 0;
  width: 50px;
  height: 40px;
  position: absolute;
  background-color: #ff3d3d;
}

/*
 FORM PRELOADER
---------------*/
.preloader {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  background-color: #0000006e;
}
.profileform.submit .preloader {
  display: grid;
}

.prelodbox {
  width: 100%;
  padding-left: 30px;
  display: block;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}
.prelodbox p {
  font-size: 1.1em;
  padding: 30px 0 0 0;
  margin-left: 0px;
  color: #ffffff;
}
.loader {
  width: 60px;
  aspect-ratio: 1;
  display: none;
  -webkit-mask: conic-gradient(from 15deg, #0000, #000);
  animation: l26 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after {
  background: radial-gradient(closest-side at 50% 12.5%, #ffffff 96%, #0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%, #ffffff 96%, #0000) 0 50%/80% 20% repeat-x;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}
@keyframes l26 {
  100% {
    transform: rotate(1turn);
  }
}
.profileform.submit .loader {
  display: grid;
}



footer {
  padding: 5px;
}
.footer {
  display: block;
  padding: 0 0 0 10px;
}
.footer p {
  font-size: 0.7rem;
}
