* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  width: 100dvw;
  display: grid;
  height: 100dvh;
  background-color: #dddddd;
  background-color: #eeeeee;
}
.body {
  padding: 5px;
  width: 100%;
  display: grid;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1280px;
}
.main {
  width: 100%;
  display: grid;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #e0ebfa;
  grid-template-rows: 60px minmax(400px, 1fr) 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
header {
  color: #444444;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 1px;
}
header .row {
  display: grid;
  align-items: center;
  padding: 10px;
}

header .row img {
  min-width: 100px;
  max-width: 120px;
}
.home {
  display: grid;
  padding: 0 5%;
  min-width: 320px;
  background-size: cover;
  background-color: #ffffff;
  background-repeat: no-repeat;
  align-content: space-around;
  background-image: url("https://judadeveloper.github.io/registration/banner.png");
}
.home .card {
  display: grid;
  margin: 0 auto;
  padding: 10px;
  min-width: 300px;
  max-width: 460px;
}
.home .card h2 {
  font-size: 18px;
  padding: 10px;
  font-weight: 1000;
}
.home .card h5 {
  font-size: 15px;
  font-weight: 500;
  color: #2e2e2e;
  margin: 0 5px;
  padding: 0 0 20px 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid #b1b1b1;
  
}
.card button {
  width: 100%;
  display: flex;
  margin: 0 auto;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  max-width: 500px;
  padding: 10px 10px;
  border-radius: 4px;
  align-items: center;
  justify-content: end;
  background-color: #0087e0;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, #00000012 0px 2px 2px, #00000025 0px 4px 4px, #0261b938 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.card button p {
  width: 60%;
  font-weight: 600;
  font-size: 0.84em;
  text-align: start;
  padding-left: 10px;
}
.card button svg {
  fill: none;
  width: 35px;
  height: 35px;
  padding: 4px;
  stroke: #ffffff;
  border-radius: 40px;
}
.card button:hover p,
.card button:focus p{
  font-size: 0.76em;
  font-weight: 700;
}
.card button:hover svg,
.card button:focus svg {
  stroke: #008cff;
  background-color: #fcfcfc;
}

.home .notex {
  margin: auto;
  display: flex;
  padding: 10px;
  max-width: 500px;
  border-radius: 5px;
  background-color: #fcfcfc;
}
.notex p {
  padding: 10px;
  font-size: 16px;
  text-align: start;
  color: #141414;
  font-family: 'Times New Roman', Times, serif;
}
.notex svg {
  width: 35px;
  stroke: #ff7171;
}


.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  position: absolute;
  display: none;
  background-color: #44677e;
}
.modal .forms {
  height: 100%;
  padding: 0 5px;
  padding-top: 10px;
  background-color: #00000096;

}
@media screen and (min-width: 800px) {
  .forms {
    padding: 4% 3% 0% 3%;
  }
}
.userform {
  width: 100%;
  display: grid;
  margin: 0px auto;
  max-width: 500px;
  position: relative;
  background-size: cover;
  grid-template-rows: 35px;
  background-color: #a1d2ff;
  background-repeat: no-repeat;
  border-radius: 6px 6px 6px 6px;
  background-image: url("https://judadeveloper.github.io/registration/banner.png");
}
.userform form {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0 5px;
  overflow-y: auto;
  min-height: 500px;
  max-height: 640px;
  padding-bottom: 5px;
  background-color: #00000015;
}
.userform .heada {
  width: 100%;
  height: fit-content;
  display: inline-flex;
  padding: 5px 3px 5px 10px;
  background-color: #ffffff;
  justify-content: space-between;
  border-radius: 0px 0px 0px 0px;
  border-bottom: 1px solid #464646;
}
.userform .heada img { 
  width: 60px; 
}
.userform .heada svg {
  width: 23px;
  height: 23px;
  fill: #bdbdbd;
  border-radius: 100%;
}
.userform .heada input {
  width: 60px;
  background-color: #eeeeee;
}
.userform .fmname {
  width: 100%;
  padding: 5px;
  margin: 0 auto;
  min-width: 280px;
  justify-items: center;
  background-color: #00000018;
}
.userform .fmname h4 {
  text-align: center;
  font-weight: 600;
  color: #000000;
}
.fminputs h6 {
  width: 100%;
  margin-top: 5px;
  min-width: 100px;
  font-weight: 700;
  color: #000000;
  padding-left: 3px;
  font-size: 0.67rem;
}
.fminputs section {
  width: 100%;
  padding: 10px;
  display: none;
  margin: 0 auto;
  min-width: 280px;
  max-width: 320px;
}
.fminputs section.shown {
  display: block;
}

.lb {
  padding: 0;
  width: 100%;
  display: grid;
  column-gap: 2px;
  margin: 0px auto;
  margin-top: 10px;
  border-radius: 5px;
  position: relative;
  background-color: #00000000;
  grid-template-columns: minmax(40px, 15%) 1fr;
}
.lb * {
  color: #383838;
  font-size: 1rem;
}
.content {
  width: 100%;
  height: 50px;
  display: grid;
  column-gap: 5%;
  padding: 5px 5px;
  position: relative;
  background-color: #ffffffa2;
  border: 1px solid #a1caff;
  border-radius: 0px 4px 4px 0px;
}
.drod:hover {
  color: #008cff;
  border-radius: 4px;
  border: 1px solid #60a5ff;
  background-color: #fbfdff;
}
.lb-icon {
  fill: none;
  width: 100%;
  height: 100%;
  padding: 12px;
  stroke-width: 1;
  stroke: #606368;
  border-radius: 4px 0 0 4px;
  background-color: #f2f7ff;
}

.drod .nput {
  width: 100%;
  height: 100%;
  font-size: 13px;
  color: #353535;
  border-radius: 4px;
  padding: 15px 15px 0 15px;
  background-color: #ffffff00;
}

.drod .batn {
  right: 5px;
  fill: none;
  width: 20px;
  height: 45px;
  padding: 1px;
  stroke: #838383;
  position: absolute;
  stroke-width: 1.5;
  align-self: center;
}
.drod:hover .batn {
  stroke: #0084ff;
  fill: #0084ff;
  stroke-width: 1.5;
  transform: scale(100%);
}

.drodwnlist {
  top: 105%;
  right: 0px;
  width: 100%;
  display: none;
  padding: 0 2px;
  z-index: 999999;
  overflow-y: auto;
  min-width: 150px;
  max-height: 220px;
  border-radius: 4px;
  position: absolute;
  transform-origin: top center;
  background-color: #ffffff;
  animation: growdown 200ms ease-in-out forwards;
  box-shadow: 0 26px 58px 0 #00000038, 0 5px 14px 0 #0000002e;
}

.drodwnlist ul {
  display: block;
  min-height: 0px;
  border-radius: 4px;
  list-style-type: none;
}

.drodwnlist ul li {
  min-height: 35px;
  height: fit-content;
  cursor: pointer;
  padding-left: 20px;
  align-content: center;
  border-bottom: 1px solid #f0f0f0;
}

.drodwnlist li p {
  pointer-events: none;
  color: #3f3f3f;
  font-size: 0.9em;
}

.drodwnlist li:last-of-type {
  border-bottom: none;
}

.drodwnlist li:active {
  background-color: #e0e0e0;
  color: #008cff;
  font-weight: 600;
}

.drodwnlist li:hover,
.drodwnlist li:focus {
  color: #ffffff;
  font-weight: 600;
  background-color: #008cff;
  box-shadow: inset 0 0 0 1px #008cff;
  transition: all 0.2s ease-in-out;
}

.drodwnlist li:hover p {
  color: #ffffff;
}


.dob,
.cbox {
  padding-left: 20px;
  position: relative;
}
.cbox {
  grid-template-columns: minmax(25px, 30%) 1fr;
}
.cbox:has(#w_status) {
  grid-template-columns: minmax(25px, 38%) 1fr;
}
.cbox #w_status {
  color: #fbfdff;
  z-index: 2998;
  width: 30px;
  height: 20px;
  font-size: 10px;
  position: absolute;
}
.dob {
  grid-template-columns: minmax(25px, 22%) minmax(25px, 22%) minmax(25px, 22%);
}



/*input 
--------*/
.nput {
  height: 100%;
  color: #000000;
  font-size: 0.8rem;
  border-radius: 4px;
  font-family: sans-serif;
  padding: 15px 5px 4px 20px;
  background-color: transparent;
}


/*input Placeholder
------------------*/
.pod {
  left: 8%;
  position: absolute;
  font-size: 0.8rem;
  color: #727272;
  pointer-events: none;
  transform-origin: 0 0;
  transition: all 0.2s ease;
  transform: translate3d(0, 0, 0);
}
.txt .pod,
.drod .pod {
  top: 30%;
}
.dob .pod,
.cbox .pod {
  top: 0px;
  font-size: 0.7rem;
}
.dob .pod {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.dob .pod span {
  font-size: 0.7rem;
}
.dob .pod small {
  height: 15px;
  padding: 0 3px;
  color: #076aff;
  text-align: center;
  font-weight: 400;
  border-radius: 20px;
  font-size: 0.65rem;
  width: max-content;
  opacity: 0;
}
.txt:has(textarea) {
  min-height: 60px;
}
.txt textarea {
  padding: 25px 0px 0px 3px;
}
.cbox .cx {
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 0.9rem;
  padding: 15px 0px 3px 2px;
}
.cbox input[type="checkbox"] {
  width: 13px;
  height: 13px;
  cursor: pointer;
  margin-right: 10px;
}
.dob .dt {
  height: 22px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 0.75rem;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.dob input[type="date"] {
  width: 24px;
  color: #85858500;
  padding: 0;
  height: fit-content;
  font-size: 25px;
  cursor: pointer;
  opacity: 0;
}
.dob label svg {
  top: 8px;
  left: 8px;
  width: 13px;
  position: absolute;
  pointer-events: none;
}
.dob label {
  top: 16px;
  right: 5px;
  padding: 3px;
  position: absolute;
}


/*IMAGE FILES*/
.photoimge {
  padding: 8px;
  display: grid;
  margin: 0px auto;
  max-width: fit-content;
  position: relative;
  height: fit-content;
  border-radius: 5px;
}
.content.img {
  padding: 0px;
  display: grid;
  cursor: pointer;
  margin: 0px auto;
  position: relative;
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  justify-items: center;
  background-color: #ffffffa2;
  border: 1px solid #a1caff;
}
.photoimge .img:has(img[src="#"]) {
  min-width: 140px;
  min-height: 150px;
}
.img img[src="#"] {
  width: 60px;
  height: 60px;
  margin: auto;
  min-width: 40px;
  min-height: 40px;
  border-radius: 100%;
  background-color: #0e9efd;
  content: url("https://judadeveloper.github.io/registration/user.svg");
}
.img img:not([src="#"]) {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
  max-height: 150px;
}
.img .nput[type="file"] {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
.imgfile {
  padding: 5px;
  display: block;
  margin-top: 10px;
}
.imgfile .img {
  width: 100%;
  display: grid;
  font-size: 13px;
  box-shadow: none;
  color: #3b3b3b;
  border-radius: 0%;
  align-items: center;
  justify-items: start;
  padding: 5px 0 5px 0px;
  max-width: 320px;
  background-color: #ffffff00;
  grid-template-columns: 1fr 70px;
  border-bottom: 1px solid #acacac;
}
.imgfile .img img {
  width: 70px;
  padding: 0px;
  height: 80px;
  margin: auto;
  min-width: 70px;
  min-height: 80px;
  border-radius: 5px;
  background-color: #ffffffb0;
}
.imgfile .img img[src="#"] {
  padding: 20px 20px;
  content: url("https://judadeveloper.github.io/registration/file.svg");
}
.photoimge .content:hover,
.photoimge .content:focus,
.imgfile .content:hover img,
.imgfile .content:focus img {
  scale: 98%;
  background-color: #ffffff;
  border: 1px solid #14a1ff;
}
.imgfile .content:hover,
.imgfile .content:focus,
.imgfile .content:has(img:not([src="#"])) {
  color: #0099ff;
  font-weight: 600;
}
.imgfile .content:has(img:not([src="#"])) img {
  border: 1px solid #14a1ff;
}
.photoimge:has(.nput.invalid) .content {
  border: 1px solid #ff686885;
}
.imgfile .content:has(.nput.invalid) img {
  color: #ff686885;
  border: 1px solid #ff686885;
}
.lb .content:hover {
  color: #008cff;
  border-radius: 4px;
  border: 1px solid #95c3ff;
  background-color: #fbfdffd5;
}
.content:hover .pod {
  color: #008cff;
}
.lb:hover .lb-icon {
  stroke: #ffffff;
  fill: #008cff;
}
.dt:hover {
  color: #008cff;
}


/* Input Focused
*/
.lb .content:focus-within {
  border-radius: 4px;
  border: 1px solid #008cff;
  background-color: #ffffff;
}
.lb:focus-within .lb-icon {
  padding: 9px;
  fill: #008cff;
  stroke: #ffffff;
  background-color: #e7f2ff;
}

.content:not(.cbox):not(.dob):focus-within .pod {
  color: #008cff;
  transform: translate3d(0, -80%, 0) scale(0.80);
}
.content:not(.cbox):not(.dob):has(.nput.invalid):focus-within .pod {
  color: #ff7474;
}



/*Input Not Empty*/
.dt.ok:not(:focus-within),
.cx:has(input[type="checkbox"]:checked),
.nput:not(:placeholder-shown):not(:focus-within) {
  color: #000000;
  font-weight: 500;
}
.lb.valid:not(:focus-within) {
  background-color: #0099ff;
}
.lb.valid:not(:focus-within) .content {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.lb.valid:not(:focus-within) .lb-icon {
  fill: #008cff;
  stroke: #008cff;
  background-color: #e3f0ffee;
}
.content:not(.cbox):not(.dob):has(.nput:not(:placeholder-shown)) .pod {
  transform: translate3d(0, -80%, 0) scale(0.80);
}


/*Invalid Input
---------------*/
.lb:has(.nput.invalid):not(:focus-within) {
  background-color: #f57676;
}
.lb:has(.nput.invalid):not(:focus-within) .cx {
  color: #f57676;
}
.lb:has(:not(:focus-within).nput.invalid) .dt:not(.ok) {
  color: #f57676;
}
.lb:has(.nput.invalid):not(:focus-within):has(.content:not(.dob)):has(.content:not(.cbox)) .pod {
  color: #f86464;
}




/*SUBMIT FORM*/
.fmsubmit {
  width: 100%;
  height: 60px;
  display: grid;
  align-content: center;
  justify-content: center;
  background-color: #dbe7f193;
  background-color: #ffffffbd;
  border-radius: 0px 0px 0px 0px;
  border-top: 1px solid #666666;
}
.fmsubmit section {
  width: 100%;
  display: flex;
  column-gap: 38%;
  margin: 0px auto;
  min-width: 320px;
  padding: 2px 10px;
}
.fmsubmit button {
  height: 45px;
  display: grid;
  cursor: pointer;
  font-weight: 400;
  border-radius: 3px;
  align-content: center;
}
.fmsubmit button:first-of-type {
  opacity: 0;
  width: 90px;
  pointer-events: none;
  background-color: #ffffff;
}
.fmsubmit button:first-of-type.shown {
  opacity: 1;
  pointer-events: visible;
}
.fmsubmit button:first-of-type:hover {
  color: #ff9898;
  background-color: #fff7f7ec;
}
.fmsubmit button:last-of-type {
  width: 130px;
  color: #ffffff;
  font-weight: 600;
  background-color: #23a7ff;
}
.fmsubmit button:last-of-type:hover {
  font-weight: 700;
  background-color: #008cff;
}
.fmsubmit button.invalid {
  color: #ff1414;
  background-color: #ffececa4;
  border: 1px solid #ff1414;
}
.userform.submit .fmsubmit button:last-of-type:disabled {
  opacity: 0.75;
  cursor: wait;
  background-color: #0095f8;
}



/*
 FORM PRELOADER
---------------*/
.preloader {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #00000096;
  display: none;
}
.userform.submit .preloader {
  display: grid;
}
.prelodbox {
  width: 100%;
  padding-left: 30px;
  display: block;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}
.prelodbox p {
  font-size: 1em;
  margin-top: 20%;
  margin-left: 0px;
  font-weight: 400;
  color: #ffffff;
  padding: 30px 0 0 0;
}
.loader {
  width: 60px;
  aspect-ratio: 1;
  display: none;
  -webkit-mask: conic-gradient(from 15deg, #0000, #000);
  animation: l26 1s infinite steps(12);
}
.loader,
.loader:before,
.loader:after {
  background: radial-gradient(closest-side at 50% 12.5%, #ffffff 96%, #0000) 50% 0/20% 80% repeat-y,
    radial-gradient(closest-side at 12.5% 50%, #ffffff 96%, #0000) 0 50%/80% 20% repeat-x;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}
.loader:after {
  transform: rotate(60deg);
}
@keyframes l26 {
  100% {
    transform: rotate(1turn);
  }
}
.userform.submit .loader {
  display: grid;
}


footer {
  padding: 5px;
}

.footer {
  display: block;
  padding: 0 0 0 10px;
}

.footer p {
  font-size: 0.7rem;
}
